{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>调查问卷</title>
    <link rel="icon" href="data:;base64,=">
{#    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/neau_logo.png" %}">#}
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/ionicons.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/simple-line-icons.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/jquery.mCustomScrollbar.css" %}" rel="stylesheet">
    <!--fullcalendar-->
    <link href="{% static "css/fullcalendar.css" %}" rel='stylesheet' />
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/responsive.css" %}" rel="stylesheet">
</head>

<body class="bg_darck">
  <div class="container body">
    <div class="main_container">
      <!-- page content -->
      <div class="col-12">
        <div class="col-middle">
          <div class="text-center">
            <h1 class="error-number">Thanks!</h1>
            <h2 class="color_white">提交成功！感谢您的参与~</h2>
          </div>
        </div>
      </div>
      <!-- /page content -->
    </div>
  </div>
</body>

</html>